# any data
.idea
.ipynb_checkpoints
prework/WSI/
data/
*.svs

# mac
.DS_Store

# pycache checkpoints
__pycache__
*.ipynb_checkpoints
*-checkpoint.ipynb

# tmp pth files
*tmp.pth

# photos
preword/sample.jpg

# src/data/Data
prework/data/Data

# assignment files
# week 6
assignments/week-6-ML-baseline/lib/

# week 7
assignments/week-7-initial-github/Data_CMC*
assignments/week-7-initial-github/models

# model files
*.pth

#notebooks/img
notebooks/img