<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"">
        <title>Samsung Explainability</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css">
        <link href="{{ url_for('static', path='/css/mycss.css') }}" rel="stylesheet" type="text/css">
    </head>
<body>
    <div>
        <h2>Samsung Explainability</h2>
    </div> 
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'highlights_tab')">Project Highlights</button>
        <button class="tablinks" onclick="openCity(event, 'team_tab')">Team Profile</button>
        <button class="tablinks" onclick="openCity(event, 'inference_tab')" id="defaultOpen">Inference</button>
    </div>                           
    <div id="highlights_tab" class="tabcontent">
        <table class="table">
            <tbody>
                <tr class="info">
                    <th>Project Methodology</th>
                    <th>ML Pipeline Diagram</th>
                </tr>
                <tr>
                    <td align="left" width="50%" >
                        
                        <ul>
                            <li><h6>Mitotic Object Detection on Whole Slide Images</li></h6>
                            <li><h6>Cell Patch Classifier</h6></li>
                            <small>Convolution neural network model serves as the base model to perform predictions.
                                <br>
                                Goal: Sampled Whole Slide Image (Input) -> Binary Classification: Mitotic Prediction (Output)
                            </small>
                            <li><h6>Visual Explainability using GradCAM</h6></li>
                            <small>GradCAM is used to highlight specific regions of the image that help explain and contribute to the prediction of mitotic or non-mitotic.
                                <br>
                                <ul>
                                    <li>Goal: Mitotic Detected Image (Input) -> Mitotic Image Heatmap (Output)</li>
                                    <li>Convolutional neural network model is used as main classifier for prediction</li>
                                    <li>CAM layer is included in CNN architecture before the output layer to help visualize image embedding space that explains predictions</li>
                                </ul>   
                            </small>
                            <li><h6>Textual Explainability using Dual Encoder</h6></li> 
                            <small>A dual encoder neural network was built using two main components, a vision encoder and a text encoder.
                                <br>
                                <ul>
                                <li>Goal: Mitotic Detected Image (Input) -> Natural Language Explanation (Output)</li>
                                <li>Image embeddings are created through the vision encoder via a pretrained Xception (ImageNet) neural network architecture.</li>
                                <li>Text embeddings are created through the text encoder via a pretrained BERT (English Uncased) neural network architecture.</li>
                                <li>Dual encoder learns image-to-text embeddings by minimizing the average loss over the image and text loss functions.</li>
                            </small>
                    </td>
                    <td align="left" >
                        <img src="{{ url_for('static', path='/images/ml_pipeline.png') }}" />
                    </td>
                </tr>   
            </tbody>
        </table>
    </div>
    <div id="team_tab" class="tabcontent">
        <table align="center" style="width:80%">
            <tbody>
            <tr>
                <td align="center" width="33%">
                    <img src="{{ url_for('static', path='/images/profile1.jpeg') }}" alt="..." style="border-radius:50%"/> 
                    <h4>Shelly Jain</h4>  
                    <p>VP, JPMorgan Chase</p>    
                </td>
                <td align="center" width="33%">  
                    <img src="{{ url_for('static', path='/images/profile1.jpeg') }}" alt="..." style="border-radius:50%"/>  
                    <h4>Artemio Rimando</h4>    
                    <p>Data Scientist, ArcSpan</p>    
                </td>
                <td align="center" width="33%">  
                    <img src="{{ url_for('static', path='/images/profile1.jpeg') }}" alt="..." style="border-radius:50%"/>  
                    <h4>Gage Sowell</h4>  
                    <p>Production Engineer, Teledyne-FLIR</p>      
                </td>
            </tr>   
            </tbody>
        </table>
    </div>
    <div id="inference_tab" class="tabcontent">
        <form action="/images" class="form-inline" method="post" enctype="multipart/form-data">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <label for="files" class="btn btn-sm btn-link">Click here to select input image</label><label for="sub_but" class="btn btn-xs btn-primary">Upload</label><input id="sub_but" type="submit" style="visibility:hidden;">
                            <input type="file" accept="image/*" name="selectFile" id="files" style="visibility:hidden;"/>
                        </td>
                        <td>  
                            <label for="hm_image">Heatmap Image</label>         
                        </td> 
                    </tr>  
                    <tr>
                        <td>
                            <img src="data:image/png;base64,{{input_img | safe}}" id="output" class="cover" onerror="this.onerror=null; this.remove();"/>
                        </td>
                        <td>
                            <div class="frame">
                            <img src="data:image/png;base64,{{heatmap_img | safe}}" id="hm_image" class="cover" onerror="this.onerror=null; this.remove();"/>
                        </div> 
                    </td> 
                    </tr>
                </tbody>
            </table>
                    <div class="scrollable">
                        <table class="table table-condensed" >
                        <tbody>
                            <tr class="info">
                                <th width="40%">Predicted Image Class</th>
                                <th>Predicted Annotation</th>
                            </tr>
                            {% for p in predDict %}
                                {% set item_1 = predDict[loop.index-1] %}
                                {% set item_2 = explainDict[loop.index-1] %}
                            <tr>
                                <td><small>{{ item_1 }}</small></td>
                                <td><small>{{ item_2 }}</small></td>
                            </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                    </div>
            <br></br>
                <table class="table">
                <tbody>
                    <tr class="info">
                        <th>Total Predictions</th>
                        <th>Mitotic</th>
                        <th>Non-Mitotic</th>
                        <th>Mitotic %</th>
                    </tr>
                    <tr>
                        <td><small>{{ total_pred }}</small></td>
                        <td><small>{{ m_fig }}</small></td>
                        <td><small>{{ nm_fig }}</small></td>
                        <td><small>{{ perc_m_fig }}</small></td>
                    </tr>
                </tbody>
                </table>
        </form>
    </div>
<script src="{{ url_for('static', path='/js/myjs.js') }}" type="text/javascript"></script>
</body>
</html>